{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
  <br><br>
<div class="bground1 articlebg"style="" >

  <div class="container" style="margin-left:auto;margin-right:auto;padding:0% 6% 6% 6%;position:relative">

    <!-- <p  style="font-size:18px;font-weight:500;font-family: 'Roboto', sans-serif;text-align :center;margin:0px;" data-aos="fade-up" data-aos-duration="3000">Specialized Diagnosis Tools</p> -->
    <p  style="font-size:35px;font-weight:700;font-family: 'Roboto', sans-serif;text-align :center;" data-aos="fade-up" data-aos-duration="3000">Công cụ chẩn đoán bệnh</p>
    <p class="col-lg-6"style="margin-left:auto;margin-right:auto;text-align:center;font-size:12px;color:#626567;font-weight:400;font-family: 'Roboto', sans-serif;" data-aos="fade-up" data-aos-duration="3000">Chọn một trong số các công cụ chẩn đoán để dự đoán các bệnh như bệnh tiểu đường, CVD, bệnh gan & khối u não, với độ chính xác lên tới 90%.</p>
    <br>
<br>

<div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-9" style="margin-bottom: 5px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;" data-aos="zoom-in">
          <div class=" flipcard" style="margin:0px;padding:5px;border-radius:20px;border:1px solid #CACFD2;">
             <div class="flipcard-wrap"  >
               <div class="card card-front" style="width:100%;background:black;border-radius:15px;">
                    <div class="card-body" style="padding:20px;">
                   <p style="text-align:center;font-size:15px;color:white;font-weight:600;margin:0px;">Chẩn đoán bệnh tiểu đường</p>
                   
                   <p style="font-size:20px;margin:0px;color:white;"><i class="bi bi-three-dots"></i></p>
                   <img src="{% static 'images/diabetes.jpg'%}"  style="width:100%;padding:5px;border-radius:15px;" >
                   </div>
                </div>
                <div class="card card-back" style="background:black;">
                  <div class="card-body" style="padding:15px;">
                    <div class="text-center">
                      <img class=""src="{% static 'images/logo4.png'%}" alt="" style="width:50px;">
                    </div>
                    <br>
                    <p style="text-align:center;font-size:11px;color:#BFC9CA;">Chẩn đoán bệnh tiểu đường ngay.</p>
                    <a class="btn btn-outline-primary" href="{% url 'diabetes_risk' %}" style="border-radius:30px;border-width:2px;font-size:15px;margin:auto;font-weight:700;">Mở <i class="bi bi-chevron-double-right"></i></a>

                  </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-9" style="margin-bottom:5px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;" data-aos="zoom-in">
          <div class=" flipcard" style="margin:0px;padding:5px;border-radius:20px;border:1px solid #CACFD2;">
             <div class="flipcard-wrap"  >
               <div class="card card-front" style="width:100%;background:black;border-radius:15px;">
                    <div class="card-body" style="padding:20px;">
                   <p style="text-align:center;font-size:15px;color:white;font-weight:600;margin:0px;">Chẩn đoán CVD</p>
                   
                   <p style="font-size:20px;margin:0px;color:white;"><i class="bi bi-three-dots"></i></p>
                   <img src="{% static 'images/heart.jpg'%}"  style="width:100%;padding:5px;border-radius:15px;" >
                   </div>
                </div>
                <div class="card card-back" style="background:black;">
                  <div class="card-body" style="padding:15px;">
                    <div class="text-center">
                      <img class=""src="{% static 'images/logo4.png'%}" alt="" style="width:50px;">
                    </div>
                    <br>
                    <p style="text-align:center;font-size:11px;color:#BFC9CA;">Chẩn đoán CVD ngay.</p>
                    <a class="btn btn-outline-primary" href="{% url 'cvd_prediction' %}" style="border-radius:30px;border-width:2px;font-size:15px;margin:auto;font-weight:700;">Mở <i class="bi bi-chevron-double-right"></i></a>

                  </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-9" style="margin-bottom:5px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;" data-aos="zoom-in">
          <div class=" flipcard" style="margin:0px;padding:5px;border-radius:20px;border:1px solid #CACFD2;">
             <div class="flipcard-wrap"  >
               <div class="card card-front" style="width:100%;background:black;border-radius:15px;">
                    <div class="card-body" style="padding:20px;">
                   <p style="text-align:center;font-size:15px;color:white;font-weight:600;margin:0px;">Chẩn đoán bệnh gan</p>
                   
                   <p style="font-size:20px;margin:0px;color:white;"><i class="bi bi-three-dots"></i></p>
                   <img src="{% static 'images/liver.jpg'%}"  style="width:100%;padding:5px;border-radius:15px;" >
                   </div>
                </div>
                <div class="card card-back" style="background:black;">
                  <div class="card-body" style="padding:15px;">
                    <div class="text-center">
                      <img class=""src="{% static 'images/logo4.png'%}" alt="" style="width:50px;">
                    </div>
                    <br>
                    <p style="text-align:center;font-size:11px;color:#BFC9CA;">Chẩn đoán bệnh gan ngay.</p>
                    <a class="btn btn-outline-primary" href="{% url 'liver_diagnosis' %}" style="border-radius:30px;border-width:2px;font-size:15px;margin:auto;font-weight:700;">Mở <i class="bi bi-chevron-double-right"></i></a>

                  </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-9" style="margin-bottom:5px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;" data-aos="zoom-in">
          <div class=" flipcard" style="margin:0px;padding:5px;border-radius:20px;border:1px solid #CACFD2;">
             <div class="flipcard-wrap"  >
               <div class="card card-front" style="width:100%;background:black;border-radius:15px;">
                    <div class="card-body" style="padding:20px;">
                   <p style="text-align:center;font-size:15px;color:white;font-weight:600;margin:0px;">Chẩn đoán u não</p>
                   
                   <p style="font-size:20px;margin:0px;color:white;"><i class="bi bi-three-dots"></i></p>
                   <img src="{% static 'images/brain.jpg'%}"  style="width:100%;padding:5px;border-radius:15px;" >
                   </div>
                </div>
                <div class="card card-back" style="background:black;">
                  <div class="card-body" style="padding:15px;">
                    <div class="text-center">
                      <img class=""src="{% static 'images/logo4.png'%}" alt="" style="width:50px;">
                    </div>
                    <br>
                    <p style="text-align:center;font-size:11px;color:#BFC9CA;">Chẩn đoán u não ngay.</p>
                    <a class="btn btn-outline-primary" href="{% url 'detect_brain_tumor' %}" style="border-radius:30px;border-width:2px;font-size:15px;margin:auto;font-weight:700;">Mở <i class="bi bi-chevron-double-right"></i></a>

                  </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

{% endblock content %}
